<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>content</key>
		<array>
			<dict>
				<key>class</key>
				<string>html</string>
				<key>source</key>
				<string>index.html</string>
				<key>bounces</key>
				<true/>
				<key>scalesPageToFit</key>
				<true/>
				<key>zoom</key>
				<true/>
				<key>backgroundColor</key>
				<string>#ffffff</string>
			</dict>
		</array>
	</dict>
</plist>
